<a href="https://colab.research.google.com/github/ShreeKeshavan/Machine_Learning/blob/main/MarketBasketAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
#!pip install apyori
from apyori import apriori

In [18]:
df = pd.read_csv('/content/Market_Basket_Optimisation.csv')
print(df)
df = df.head(500)

              shrimp            almonds      avocado    vegetables mix  \
0            burgers          meatballs         eggs               NaN
1            chutney                NaN          NaN               NaN
2             turkey            avocado          NaN               NaN
3      mineral water               milk   energy bar  whole wheat rice
4     low fat yogurt                NaN          NaN               NaN
...              ...                ...          ...               ...
7495          butter         light mayo  fresh bread               NaN
7496         burgers  frozen vegetables         eggs      french fries
7497         chicken                NaN          NaN               NaN
7498        escalope          green tea          NaN               NaN
7499            eggs    frozen smoothie  yogurt cake    low fat yogurt

     green grapes whole weat flour yams cottage cheese energy drink  \
0             NaN              NaN  NaN            NaN          NaN
1             NaN              NaN  NaN            NaN          NaN
2             NaN              NaN  NaN            NaN          NaN
3       green tea              NaN  NaN            NaN          NaN
4             NaN              NaN  NaN            NaN          NaN
...           ...              ...  ...            ...          ...
7495          NaN              NaN  NaN            NaN          NaN
7496    magazines        green tea  NaN            NaN          NaN
7497          NaN              NaN  NaN            NaN          NaN
7498          NaN              NaN  NaN            NaN          NaN
7499          NaN              NaN  NaN            NaN          NaN

     tomato juice low fat yogurt green tea honey salad mineral water salmon  \
0             NaN            NaN       NaN   NaN   NaN           NaN    NaN
1             NaN            NaN       NaN   NaN   NaN           NaN    NaN
2             NaN            NaN       NaN   NaN   NaN           NaN    NaN
3             NaN            NaN       NaN   NaN   NaN           NaN    NaN
4             NaN            NaN       NaN   NaN   NaN           NaN    NaN
...           ...            ...       ...   ...   ...           ...    ...
7495          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7496          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7497          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7498          NaN            NaN       NaN   NaN   NaN           NaN    NaN
7499          NaN            NaN       NaN   NaN   NaN           NaN    NaN

     antioxydant juice frozen smoothie spinach  olive oil
0                  NaN             NaN     NaN        NaN
1                  NaN             NaN     NaN        NaN
2                  NaN             NaN     NaN        NaN
3                  NaN             NaN     NaN        NaN
4                  NaN             NaN     NaN        NaN
...                ...             ...     ...        ...
7495               NaN             NaN     NaN        NaN
7496               NaN             NaN     NaN        NaN
7497               NaN             NaN     NaN        NaN
7498               NaN             NaN     NaN        NaN
7499               NaN             NaN     NaN        NaN

[7500 rows x 20 columns]

In [19]:
df.fillna(value=0,inplace=True) #fill the nullvalue columns with 0.

In [20]:
transactions = []
for i in range(len(df)):
  single_tran = []
  for j in range(0,len(df.columns)):
    if df.values[i,j] != 0:
      single_tran.append(str(df.values[i,j]))
    transactions.append(single_tran)

In [26]:
rules = apriori(transactions,min_support=0.003, min_confidance=0.2,min_lift = 3,min_length=2)
# pair of how many number of items are assigned by 'min_length'

In [27]:
df = pd.DataFrame(list(rules))
support = df.support

In [31]:
df

,items,support,ordered_statistics
0,"(almonds, burgers)",0.008,"[((almonds), (burgers), 0.4444444444444445, 5...."
1,"(almonds, eggs)",0.012,"[((almonds), (eggs), 0.6666666666666667, 3.236..."
2,"(almonds, herb & pepper)",0.004,"[((almonds), (herb & pepper), 0.22222222222222..."
3,"(almonds, soup)",0.006,"[((almonds), (soup), 0.33333333333333337, 4.38..."
4,"(tomato sauce, almonds)",0.004,"[((almonds), (tomato sauce), 0.222222222222222..."
...,...,...,...
1700,"(milk, burgers, mineral water, eggs, french fr...",0.004,"[((burgers), (milk, eggs, mineral water, frenc..."
1701,"(milk, burgers, mineral water, eggs, pancakes,...",0.004,"[((burgers), (milk, eggs, mineral water, panca..."
1702,"(milk, burgers, mineral water, french fries, p...",0.004,"[((burgers), (milk, mineral water, french frie..."
1703,"(milk, mineral water, eggs, french fries, panc...",0.004,"[((eggs), (milk, mineral water, french fries, ..."
1704,"(milk, burgers, eggs, mineral water, french fr...",0.004,"[((burgers), (milk, eggs, mineral water, frenc..."