<a href="https://colab.research.google.com/github/ShreeKeshavan/Machine_Learning/blob/main/Sentiment_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('/content/data.csv')

In [3]:
data.shape

(5842, 2)

In [4]:
data.head()

                                            Sentence Sentiment
0  The GeoSolutions technology will leverage Bene...  positive
1  $ESI on lows, down $1.50 to $2.50 BK a real po...  negative
2  For the last quarter of 2010 , Componenta 's n...  positive
3  According to the Finnish-Russian Chamber of Co...   neutral
4  The Swedish buyout firm has sold its remaining...   neutral

splitting data

In [6]:
#method 1
X = data['Sentence']
y = data['Sentiment']

In [5]:
#method 2
X = data.iloc[:,0]
y = data.iloc[:,1]

In [7]:
X

0       The GeoSolutions technology will leverage Bene...
1       $ESI on lows, down $1.50 to $2.50 BK a real po...
2       For the last quarter of 2010 , Componenta 's n...
3       According to the Finnish-Russian Chamber of Co...
4       The Swedish buyout firm has sold its remaining...
                              ...
5837    RISING costs have forced packaging producer Hu...
5838    Nordic Walking was first used as a summer trai...
5839    According shipping company Viking Line , the E...
5840    In the building and home improvement trade , s...
5841    HELSINKI AFX - KCI Konecranes said it has won ...
Name: Sentence, Length: 5842, dtype: object

In [9]:
y

0       positive
1       negative
2       positive
3        neutral
4        neutral
          ...
5837    negative
5838     neutral
5839     neutral
5840     neutral
5841    positive
Name: Sentiment, Length: 5842, dtype: object

checking unique values in y

In [10]:
#method 1
y.unique()

array(['positive', 'negative', 'neutral'], dtype=object)

In [12]:
#method 2
y.value_counts()

neutral     3130
positive    1852
negative     860
Name: Sentiment, dtype: int64

checking Null

In [13]:
y.isnull().sum()

0