<a href="https://colab.research.google.com/github/ShreeKeshavan/Machine_Learning/blob/main/Zomato_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import AdaBoostClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
df = pd.read_csv('/content/zomato.csv')
df

In [ ]:
 #to drop unwanted columns - inplace is to make change permanent
 df = df.drop(['cuisines','rest_type','location','url','address','name','phone','reviews_list','menu_item','listed_in(type)','listed_in(city)','dish_liked','rate'],axis = 1,inplace=True)

In [ ]:
#to fill null columns
df = df.fillna(method='pad')

In [ ]:
#to count the total num in df
print(df.isnull().sum())

In [ ]:
# encoding
le = LabelEncoder()
le.fit(df['online_order'])
df['online_order'] = le.transform(df['online_order')

le.fit(df['book_table'])
df['book_table'] = le.transform(df['book_table')

le.fit(df[''])
df[''] = le.transform(df['')

In [ ]:
# to get rid of comma eg: 1,000 - 1000
df['approx_cost(for two people'] = df['approx_cost(for two people'].replace(",","") #replacing
print(df['approx_cost(for two people'].replace(",","").unique()) #replacing and printing unique values

In [ ]:
# to convert the replaced string to int
pd.to_numeric(df['approx_cost(for two people'])

In [ ]:
# with the 4 columns i need to check wheather the table is booked or not - case
#prediction